body{
    background-image: url(images/10-07-2018-1531214696.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
#acps{
    background-color: white;
}
#mySidenav a {
  position: absolute;
  right: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: black; 
}
#mySidenav a:hover {
    right: 0; 
  }
  
  
  #about {
    top: 20px;
    background-color: white;
  }
  
  #admission {
    top: 80px;
    background-color: white; 
  }
  
  #clubs {
    top: 140px;
    background-color: white; 
  }
  
  #contact {
    top: 200px;
    background-color: white; 
  }
  p::first-letter {
    font-size: 200%;
    font-weight: bold;
    color: black;